@tailwind base;
@tailwind components;
@tailwind utilities;


.z-negative {
  z-index: -10;
}

.flex-basis-25{
  flex-basis: 25%;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
